.navbar
{
    height: 45px;
    

}
.nav-link1
{
    position: absolute;
left: 35.97%;
right: 56.39%;
top: 13.74%;


font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
/* line-height: 26px; */

color: #6B0707;
}

.email-link{
    /* abc@gmail.com */


position: absolute;
left: 35.35%;
right: 49.86%;
top: 52.78%;


font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

color: #B0A2A2;

}
.nav-link2
{
    position: absolute;
left: 58.12%;
right: 29.38%;
top: 13.74%;


font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;


color: #6B0707;

}
.contact-link{
    /* Call:+1234567890 */


position: absolute;
left: 58.12%;
right: 29.44%;
top: 52.78%;


font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

color: #B0A2A2;

}
.nav-link3
{
/* CAREERS */


position: absolute;
left: 81.46%;
right: 12.01%;
top: 20.37%;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;


color: #6B0707;
}
.career-link
{
/* Work with Us */


position: absolute;
left: 80.62%;
right: 10.42%;
top: 52.78%;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

color: #B0A2A2;

}
.em-img{
position: absolute;
left: 29.58%;
right: 65.83%;
top: 15.74%;
width: 5%;
height: 60%;
}
.can-img
{
    position: absolute;
left: 52.36%;
right: 43.68%;
top: 18.07%;
bottom: 18.52%;
 width: 5%;
height: 80%; 
}
.car-img
{
    position: absolute;
left: 74.51%;
right: 18.75%;
top: 5.56%;
bottom: 0%;
width: 8%;
height: 80%;
}

.about-us
{
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.67);
}
.about-tag
{
    /* ABOUT US */


position: absolute;
text-align: left;
padding-left: 5%;
margin-top: 5px;


font-family: Karma;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 57px;
/* identical to box height */


color: #FFFFFF;
}

.about-content
{
    position: absolute;
    margin-top: 50px;
    padding-left: 5%;     



font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 35px;

color: #000000;
}
.about-img
{
    position: absolute;
left: 58.45%;
width: 550px;
height: 75vh;
}
.about-btn
{
    position: absolute;
left: 12.6%;
right: 61.6%;
margin-top: 25%;
height:50px;
width: 150px;
cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 35px;


background: #DEA563;
border: 1px solid #CEB250;
box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
/* filter: blur(0.5px); */
}