

.about-us
{
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.67);
}
.about-tag
{
    /* ABOUT US */


position: absolute;
text-align: left;
padding-left: 5%;
margin-top: 5px;


font-family: Karma;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 57px;
/* identical to box height */


color: #FFFFFF;
}


.about-img
{
   
width: 100%;
height: 250px!important;
}
.about-btn
{
    position: absolute;
left: 12.6%;
right: 61.6%;
/* margin-top: 25%; */
height:50px;
width: 150px;
cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 35px;


background: #DEA563;
border: 1px solid #CEB250;
box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
/* filter: blur(0.5px); */
}

.form-contact
{
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.70);

}



@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

* { box-sizing: border-box; }


p { font-size: 1em; color: whitesmoke; margin-bottom: 1em; margin-top: 0; }


.container { 
	max-width: 1000px; 
	height: 100%;
	margin: 0 auto; 
	padding: 2em;
}

form > div {
	display: flex;
	flex-wrap: wrap;
}

form > div > p {
	min-width: 33.33%;
	padding: 10px;
}

form p { color:white; }


form > div { margin-bottom: 1em; }


.form-contact input
 {
	color: inherit;
	font: inherit;
	margin: 0;
	margin-top: 0.5em;
}

label {
    font-family: sans-serif;
	display: block;
	margin: 0.75em 0;
    font-weight: bold;
    font-size: 1.5em;
}
input {
	line-height: normal;
}

input[type=text]
{
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 5px #ddd;
	border-radius: 4px;
	vertical-align: middle;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	padding: 0.5em 0.6em;
	margin-bottom: 0.5em;
}

#our-room
{
    background-color: rgba(0, 0, 0, 0.863);
}
/* .book-form
{
    
    height: 40vh;
} */
.book-text1
{
    padding-top: 60px;
    font-family: karma!important;
    font-size: 4rem;
    color: blanchedalmond;
 text-align: center;
 justify-content: center;
   
 
}
.btn-pos{
    justify-content: center;
    text-align: center;
    margin-left: 30%;

}
.book-text
{
    height: 40vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(room3.png);
}
.about--part1,.about--part2{
    opacity: 0;
}
.about--part1 .animated,.about--part2 .animated{
    opacity: 1;
}
.footer p
{
    color: #999;
    line-height: 25px;
    font-size: 1.4rem;
}
.footer h2,h3{
    color: #FFF;
}
.footer h2{
    font-size: 18px;
}
.footer-top
{
    background:#111;
    padding: 80px 0;
}
.segment-one h3{
    
    color: #FFFFFF;
    /* letter-spacing: 3px; */
    margin: 10px 0;
}
.segment-two h2, .segment-three h2,.segment-four h2
{
    /* font-family: poppins; */
    text-transform: uppercase;

}

.segment-two h2:before,.segment-three h2:before,.segment-four h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}
.segment-two ul li a{
    color: #999;
    text-decoration: none;
    font-size: 15px;
}
.segment-three a{
   background: #494848;
   width: 40px;
   height: 40px;
   display: inline-block;
   border-radius: 50%;
}
.segment-three a i{
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px 12px;
}
.segment-four form input[type=submit]
{
    background: #c65039;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #FFF;
    text-transform: uppercase;
}
.footer-bottom-text 
{
    background-color: #000;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
}
.testimonials
{
    margin: 50px auto;
}
.testimonials h1,.book-pg h1,.abt h1
{
    text-align: center;
    font-weight: bold;
    color: #c65039;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.testimonials h1::after,.book-pg h1::after,.abt h1::after
{
    content: '';
    background: #c65039;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.testimonials .row
{
    margin-top: 30px;
}
.col-md-4
{
    margin: 40px auto;
}
.profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.profile img{
    top: 360vh;
    position: absolute;
 /* left: 80%; */
    border: 10px solid white;
}
.user
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* left: 50%; */
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #c65039;
}
span{
    font-size: 12px;
    color: #333;
}
blockquote
{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before{
    content: '\93';
    font-size: 50px;
    position: relative;
    color: #c65039;
    line-height: 20px;
    bottom: -5px;
    right: 5px;
}
blockquote::after{
    content: '\94';
    font-size: 50px;
    position: relative;
    color: #c65039;
    line-height: 10px;
    bottom: -5px;
    left: 5px;
}
.profile:hover
{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.5s;
}
.card-text
{
    color: black;
}